<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss,SSS} [%p] %c : %m%n" charset="UTF-8"/>
		</Console>
		<RollingRandomAccessFile  name="LogRollingFile" fileName="logs/oauth-server.log"
			filePattern="logs/oauth-server.log.%d{yyyy-MM-dd}">
			<PatternLayout>
				<Pattern>%d{HH:mm:ss,SSS} [%p] %c : %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy/>
			</Policies>
		</RollingRandomAccessFile>
		<RollingFile name="WfRollingFile" fileName="logs/oauth-server.log.wf"
			filePattern="logs/oauth-server.log.wf.%d{yyyy-MM-dd}">
			<PatternLayout>
				<Pattern>%d{HH:mm:ss,SSS} [%p] %c : %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy/>
			</Policies>
		</RollingFile>

	</Appenders>
	<Loggers>
		<Logger name="cn.lmh.oauth.server" level="info" additivity="false">
			<AppenderRef ref="LogRollingFile" />
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="warn">
			<AppenderRef ref="WfRollingFile" />
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>